body {
  background-color: #f5d9d5;
  font-family: 'Nunito', sans-serif;

}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: #ffffff;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}
#headingGroup span {
  color: #ea1c2c;
}

#headingGroup h2{
  font-weight: 100;
  font-size: 3.5rem;
}

@media (max-width: 1200px) {
  #headingGroup h2{
    font-weight: 100;
    font-size: 2.5rem;
  }
}